* {
    border: solid red 1px;
}

ul {
    list-style-type: none;
}


body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Macondo', cursive;
    font-size: 24px;
    color: gold
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.wallet {
    display: flex;
    align-items: center;
}

.wallet-sum {
    text-decoration: underline;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 15px;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 1;
    right: 0;

    background-color: black;
    z-index: 2;
}

#wrapper {
    margin: 150px auto 80px;
    max-width: 80%;
    z-index: 2;
    background-color: black;
    border: 2px solid rgb(255, 215, 0, 0.5);
    box-shadow: 0px 0px 20px 5px rgb(255, 215, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}


h1 {
    font-size: 56px;
}

h3 {
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
}

h2 {
    color: gold;
}

.add-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-money button {
    margin-top: 0px;
}



.warning {
    padding-right: 20px;
}



.darkerMode {
    padding-right: 40px;
}


#sellArea {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    min-height: 20em;
}

#sellArea p {
    margin-left: auto;
    padding-right: 10px;
    font-size: 15px;
    justify-content: flex-start;
}

.sellBooks {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.sellBooksList {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex: 1 1 0;
}

.sellBook {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    max-width: 300px;

}

.button {
    background-color: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Macondo', cursive;
    margin-top: 20px;
}

span {
    text-align: center;
    padding: 5px;
    margin: 0px 10px;
}

.bookData {
    border-left: 5px rgb(255, 215, 0, 0.5) solid;
    border-right: 5px rgb(255, 215, 0, 0.5) solid;
}

.bookData {
    display: flex;
    flex-direction: column;
}


.bookAuthor {
    font-size: 15px;
    margin-bottom: 15px;
}


input[type=text],
input[type=submit],
input[type=search] {
    padding: 8px;
    width: 20%;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=submit]:focus,
input[type=search]:focus {
    background-color: gold;
}

#archiveBooksArea {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 25em;
    border-top: 5px rgb(255, 215, 0, 0.5) solid;
    border-bottom: 5px rgb(255, 215, 0, 0.5) solid;
    color: white;
}

#archiveBooksList {
    min-width: 50%;
}

.archiveBooks {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.archiveBooks span {
    margin: 0px;
    padding: 0px;
}

.archiveBook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    border-bottom: 2px rgb(255, 215, 0, 0.5) solid;
    margin-bottom: 10px;
}



#titleArea {
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 5px rgb(255, 215, 0, 0.5) solid;
    border-bottom: 5px rgb(255, 215, 0, 0.5) solid;
    position: relative;


}

.titleVideo {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: 0;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1;
    left: 0;
    bottom: 1;
    right: 0;
}