* {
    border: solid red 1px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Macondo', cursive;
    font-size: 24px;
    color: gold;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.wallet {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 20em;
}

.wallet-sum {
    text-decoration: underline;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 15px;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 1;
    right: 0;

    background-color: black;
    z-index: 2;
}

#wrapper {
    margin: 150px auto 80px;
    max-width: 80%;
    z-index: 2;
    background-color: black;
    border-right: 5px solid rgb(255, 215, 0, 0.5);
    border-left: 5px solid rgb(255, 215, 0, 0.5);
    box-shadow: 0px 0px 20px 5px rgb(255, 215, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}


h1 {
    font-size: 56px;
}

h3 {
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
}

h2 {
    color: gold;
}

.add-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-money button {
    margin-top: 0px;
}



.warning {
    padding-right: 20px;
}



.darkerMode {
    padding-right: 40px;
}

#sellArea {
    background-color: rgb(0, 0, 0, 1);
    background: url(./images/cash\ register.jpg);
    background-size: cover;
}

.sellAreaElements {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    min-height: 30em;
    padding: 0px 20px;

}

#sellArea p {
    margin-left: auto;
    padding-right: 10px;
    font-size: 15px;
    justify-content: flex-start;
}

.sellBooks {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.sellBooksList {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex: 1 1 0;
}

.sellBook {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    max-width: 300px;

}

.button {
    background-color: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Macondo', cursive;
    margin-top: 20px;
}

span {
    text-align: center;
    padding: 5px;
    margin: 0px 10px;
}

.bookData {
    border-left: 5px rgb(255, 215, 0, 0.5) solid;
    border-right: 5px rgb(255, 215, 0, 0.5) solid;
}

.bookData {
    display: flex;
    flex-direction: column;
}


.bookAuthor {
    font-size: 15px;
    margin-bottom: 15px;
}


input[type=text],
input[type=submit],
input[type=search] {
    padding: 8px;
    width: 20%;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=submit]:focus,
input[type=search]:focus {
    background-color: gold;
}

#archiveBooksArea {

    border-top: 5px rgb(255, 215, 0, 0.5) solid;

    color: white;
    background: url(./images/manyBooks.jpg);
    /* background-attachment: fixed;
    background-position: 10% 100%; */
    background-size: cover;
}

.archiveBooksAreaElements {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 30em;
}

#archiveBooksList {
    min-width: 50%;

}



.archiveBooks {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.archiveBooks span {
    margin: 0px;
    padding: 0px;
}

.archiveBook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    border-bottom: 2px rgb(255, 215, 0, 0.5) solid;
    margin-bottom: 10px;
}



#titleArea {
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 5px rgb(255, 215, 0, 0.5) solid;
    border-bottom: 5px rgb(255, 215, 0, 0.5) solid;
    position: relative;


}

.titleVideo {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: 0;

}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1;
    left: 0;
    bottom: 1;
    right: 0;
    height: 100%;
}

#addNewBooksArea {
    border-top: 5px rgb(255, 215, 0, 0.5) solid;
    border-bottom: 5px rgb(255, 215, 0, 0.5) solid;
    color: white;
    background: url(./images/conjuring.jpeg);
    /* background-attachment: fixed;
    background-position: 10% 100%; */
    background-size: cover;
    background-position: 50% 80%;

}

.addNewBooksAreaElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 30em;
}

.addNewBooks {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 10em;
}

.addNewBooksElementsFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 15em;
    width: 25em;

    border: 5px solid gold;
    padding: 10px 20px;
}

.addNewBooks input[type=text],
input[type=checkbox] {
    width: 100%;
}

.addNewBooksLabels p {
    margin: 0px;
    padding: 4px 0px;
    text-align: end;

}

.addNewBooks {
    height: 10em;
    width: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    flex: 1 1 0;
}

.addNewBooks div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addNewBooks input[type='text'] {
    width: 300px;

}

.sellYesNo {
    text-align: start;
}

.newPrice input[type='text'] {
    margin: 0px 10px 0px auto;
    width: 120px;
}

.sellYesNo label:first-of-type {
    padding-right: 20px;
}

#burnBooksArea {
    display: flex;
    justify-content: center;
    height: 30em;
    background: url(./images/flames.jpg);
    background-size: cover;
    background-position: 50% 70%;
}

.burnBooksAreaElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 30em;
    width: 40em;
    gap: 5em;
}

#searchBox {
    width: 40em;

}

.searchBurnBooksRadio {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.searchText {
    display: flex;
    flex-flow: column wrap;
    width: 30em;
    align-items: center;
    gap: 1em;
    padding: 10px;
    border: 5px rgb(255, 215, 0) solid;
    ;
}



.burnConfirm {
    display: flex;
    flex-flow: column wrap;
}

#footer {
    border-top: 5px rgb(255, 215, 0, 0.5) solid;
    border-bottom: 5px rgb(255, 215, 0, 0.5) solid;
    text-align: center;
}